/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{

  padding: 0 10px;
  min-height: 100vh;
  background: #6DA5C0;
}
.body
{
  display:flex;
  align-items:center;
  justify-content: center;
  margin-top:3%;
}
.container{
  max-width: 690px;
  width: 100%;
  padding: 30px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.01);
  
}
.wrapper{
  border-radius: 5px;
  border: 1px solid #ccc;

}
.wrapper .text-input{
  display: flex;
  border-bottom: 1px solid #ccc;
}
.text-input .to-text{
  border-radius: 0px;
  border-left: 1px solid #ccc;
}
.text-input textarea{
  height: 250px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  background: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
}
.text-input textarea::placeholder{
  color: #b7b6b6;
}
.controls, li, .icons, .icons i{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  list-style: none;
  padding: 12px 15px;
}
.controls .row .icons{
  width: 38%;
}
.controls .row .icons i{
  width: 50px;
  color: #adadad;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  justify-content: center;
}
.controls .row.from .icons{
  padding-right: 15px;
  border-right: 1px solid #ccc;
}
.controls .row.to .icons{
  padding-left: 15px;
  border-left: 1px solid #ccc;
}
.controls .row select{
  color: #333;
  border: none;
  outline: none;
  font-size: 18px;
  background: none;
  padding-left: 5px;
}
.text-input textarea::-webkit-scrollbar{
  width: 4px;
}
.controls .row select::-webkit-scrollbar{
  width: 8px;
}
.text-input textarea::-webkit-scrollbar-track,
.controls .row select::-webkit-scrollbar-track{
  background: #fff;
}
.text-input textarea::-webkit-scrollbar-thumb{
  background: #ddd;
  border-radius: 8px;
}
.controls .row select::-webkit-scrollbar-thumb{
  background: #999;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}
.controls .exchange{
  color: #adadad;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s ease;
}
.controls i:active{
  transform: scale(0.9);
}
.container button{
  width: 100%;
  padding: 14px;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 5px;
  background: #5372F0;
}

@media (max-width: 660px){
  .container{
    padding: 20px;
  }
  .wrapper .text-input{
    flex-direction: column;
  }
  .text-input .to-text{
    border-left: 0px;
    border-top: 1px solid #ccc;
  }
  .text-input textarea{
    height: 200px;
  }
  .controls .row .icons{
    display: none;
  }
  .container button{
    padding: 13px;
    font-size: 16px;
  }
  .controls .row select{
    font-size: 16px;
  }
  .controls .exchange{
    font-size: 14px;
  }
}
.h
{
  justify-content: center;
  align-items:center;
  display:flex;
  all:initial;
}
.header
{
  margin-top:10px;
  height:40px;
  width:300px;
  border-style:solid;
  border-color:red;
  border-width:1px;
  justify-content: center;
  align-items:center;
  display:flex;
  font-size:24px;
  border-radius:13px;
  background-color : #294d61;
  color:#f1916d;
}
.header li
{
  padding:10px;
}
@media (max-width: 600px){
.header
{
  margin-top:10px;
  height:auto;
  width:auto;
  border-style:solid;
  border-color:red;
  border-width:1px;
  justify-content: center;
  align-items:center;
  display:flex;
  font-size:16px;
  border-radius:13px;
}
  .menu1 li
  {
    font-size:16px;
  }
}
.header:hover
{
  border-width:1px 1px 4px 4px;
}
.header:hover {
  color: #f47e10 !important;
  border-radius: 50px;
  border-color: #f1916d!important;
  transition: all 0.3s ease 0s;
}
.btn{
  cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:white;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid black;
      border-left:5px solid black;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid black;
      border-right:5px solid black;
    }
    &:hover{
      border-top-right-radius:0px;
    border-bottom-left-radius:0px;
      // background:rgba(0,0,0,.5);
      // color:white;
      &:before,&:after{
        
        width:100%;
        height:100%;
         border-color:rgba(120, 100, 232, 0.674);
      }
    }
  }
  

.navbar1,

.navbar3,
.navbar4 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #3074e2;
  margin-top:30px;
  border:1px solid transparent;
  border-radius:10px;
}
.navbar1 li{
  margin-left:50px;
}
.header,
.header2,
.header3,
.header4,
.header1 {
  width: 100%;
  height: 60px;
}

.menu,
.menu2,
.menu3,
.menu4,
.menu1 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 100px;
}

.menu li,
.menu2 li,
.menu3 li,
.menu4 li,
.menu1 li {
  display:flex;
  height: 100%;
  font-size: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  padding: 0 10px;
  margin-right: 0px;
  margin-left:-5px;
}

/* Style 1 */
/* Before Hover: Width of before element is set to 100% and height to 0 and Width of before element is*/
/* set to 0% and height to 100%  */
/* On Hover:  Top and bottom borders' of after element and left and right borders of before element*/
/* is animated here by increasing the height of before element from 0 to 80% and width of after */
/* element from 0 to 120% */

.menu li:after,
.menu li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
}

.menu li:after {
  width: 0%;
  height: 100%;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: all 0.3s ease;
}

.menu li:before {
  width: 120%;
  height: 0%;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: all 0.5s ease;
}

.menu li:hover::before {
  height: 80%;
}

.menu li:hover::after {
  width: 120%;
}

/* Style 2: */
/* On Hover: Top and left border of after element and right, bottom borders of before element is */
/* incresed from 0 to 10px */

.menu1 li:after,
.menu1 li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.3s ease;
}

.menu1 li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu1 li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu1 li:hover::before,
.menu1 li:hover::after {
  width: 10px;
  height: 10px;
  border-color: #fff;
}
.menu1 li:hover{
  color:#04e4a5;
}

.menu1 li
{
  margin-left:40px;
}
